<!DOCTYPE html>
<html lang="en">


<head>
	<title>Giving</title>
<!-- 	<link href="/bootstrap/dist/css/bootstrap.min.css">
 -->	
 <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>


<body>
	<div class="navbar navbar-default navbar-fixed-top">
		  <div class="navbar-header">
	  		<h2>Giving</h2>
	  	  </div>
		  <div class="navbar-container">
		  	<ul class="navbar-options">
			  	<li><a href="/home">Home</a></li>
				<li><a href="/profile">My Profile</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		  </div>
	</div>



<!-- add scripts -->
<script></script>



</body>

</html>