<!DOCTYPE html>
<!DOCTYPE html>
<html>


<head>
	<title>Giving - {% block title %}Giving{% endblock %}</title>
	<link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top">
		  <div class="navbar-header">
	  		<h2>Giving</h2>
	  	  </div>
		  <div class="container">
		  	<ul class="navbar-options">
			  	<li><a href="/home">Home</a></li>
				<li><a href="/profile">My Profile</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		  </div>
	  </div>



{% block content %}
{% endblock %}
<!-- add scripts -->
<script type="text/javascript"></script>



</body>
</html>